sudo: false

language: cpp

os: linux
dist: xenial

git:
  submodules: false


before_script:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --depth=1

matrix:
  include:
     - apt:
        packages:
          - g++-5
          - python3.5
          - python3.5-dev
          - ninja-build


script:
  - mkdir build
  - (cd build ; cmake -G Ninja .. ; ninja all test)
